body{
    font-family: "Liberation Serif", serif;
    font-size: 11pt;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Liberation Sans", sans-serif;
}

h1{
    font-size: 13pt;
}

.indent{
    text-indent: 20px;
}

header{
    font-family: fantasy;
    font-size: 30pt;
    color: black;
}

#leftMenu {
    text-align: center;

}

