body{
    background: #f7f7f7 url(../pictures/background.png) repeat-x ;
}


#content{
    width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: url("../pictures/body.png") repeat-y;
}

header{
    height: 150px;
    margin-left: -6px;
    margin-right: -6px;
    background: url("../pictures/header.png");
}

article {
    width: 785px;
    margin-left: 200px;
    margin-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;


}

#leftMenu{
    width: 200px;
    float: left;
    top:150px;
}

.clear{
    clear: both;
}